html {
  font-family: Lato;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 0.8fr 1fr;
}

.loginSection {
  display: inline-block;
  width: auto;
  height: 100vh;
  border: 1px solid #707070;
  background-color: white;
  text-align: left;
}

.loginContent {
  width: 75%;
  margin: 100px auto;
}

.loginContent > h1 {
  margin-bottom: 5px;
  font-size: 40px;
  font-weight: 500;
}

.loginContent > p {
  padding: 0;
  font-size: 24px;
  color: rgb(88, 88, 88);
  margin: 0 auto 25px auto;
}

.loginForm {
  margin-top: 65px;
  font-size: 20px;
}

.loginForm input {
  display: block;
  margin: 10px auto;
  width: 95%;
  height: 50px;
  font-size: 22px;
  text-indent: 1ch;
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.loginForm input:focus {
  outline: none;
}

.errorMessage {
  display: none;
  color: red;
  font-size: 18px;
}

.active {
  display: inline-block;
}

.forgotPassword {
  color: #498ad2;
  display: inline-block;
  cursor: pointer;
}

.forgotPassword a {
  text-decoration: none;
}

span {
  display: inline-block;
}

.loginBtn {
  width: 95%;
  height: 70px;
  display: block;
  margin: 100px auto;
  background-color: #498ad2;
  color: white;
  font-size: 24px;
  border: 1px solid #707070;
  border-radius: 18px;
  transition: background-color 0.15s linear;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.loginBtn:hover {
  background-color: #4d91e0;
}

.loginBtn:active {
  opacity: 0.5;
}

.marketingSection {
  display: inline-block;
  position: relative;
  width: auto;
  height: 100vh;
  background-color: #498ad2;
  border: 1px solid #707070;
}

.logo {
  position: absolute;
  top: 30px;
  left: 50px;
}

.marketingText {
  position: absolute;
  top: 25%;
  left: 20%;
  text-align: center;
  width: 65%;
}

.marketingText h1 {
  color: white;
  font-size: 54px;
}

.marketingText p {
  font-size: 24px;
}

.marketingText h3 {
  color: white;
  font-size: 28px;
  padding-top: 50px;
}

.heart {
  vertical-align: middle;
  margin-bottom: 10px;
}
