:root {
  --navHeight: 64px;
}

body {
  height: 100vh;
  padding-top: var(--navHeight);
  background-color: #f2f2f2;
  font-family: Lato;
}

/* NAVBAR CSS */
.navBar {
  display: flex;
  flex-direction: row;
  height: var(--navHeight);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid lightgray;
  background-color: white;
  z-index: 999;
}

.logoContainer {
  display: flex;
  position: relative;
  height: var(--navHeight);
  flex: 0.75;
}

.logo {
  position: absolute;
  display: inline-block;
  top: calc(var(--navHeight) / 5);
  right: 0;
  height: auto;
  width: auto;
  max-height: 42px;
  max-width: 195px;
  cursor: pointer;
}

.linksContainer {
  flex: 2;
}

.links {
  height: 100%;
  padding-left: 90px;
  width: auto;
  display: flex;
  flex-direction: row;
}

.navButton {
  background-color: white;
  border: none;
  height: 100%;
  width: 164px;
  cursor: pointer;
  transition: background-color 0.15s linear;
  font-family: Lato light;
  text-align: center;
  line-height: 64px;
  color: black;
  font-size: 20px;
  text-decoration: none;
  font-weight: normal;
}

.navButton:hover {
  background-color: #f2f2f2;
}

.profileContainer {
  flex: 0.75;
  text-align: center;
}

.myAccount {
  width: auto;
  height: 40px;
  font-size: 18px;
  margin-left: 20px;
  border: 1px solid #498ad2;
  border-radius: 19px;
  padding: 10px 20px;
  background-color: white;
  line-height: 64px;
  cursor: pointer;
}

.myAccount a {
  color: #498ad2;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 5px;
  text-align: center;
  min-width: 75px;
}

.logoutBtn {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 18px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* LANDING PAGE CSS */

.landingPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.leftCard {
  background-color: white;
  border: 1px solid gray;
  box-shadow: 2px 2px 2px lightgray;
  border-radius: 20px;
  width: 65%;
  height: auto;
  margin: 60px 50px 0px auto;
  text-align: left;
}

.rightCard {
  background-color: white;
  border: 1px solid gray;
  box-shadow: 2px 2px 2px lightgray;
  border-radius: 20px;
  width: 65%;
  height: auto;
  margin: 60px auto 0px 50px;
  text-align: left;
}

.leftCard h1 {
  margin-top: 50px;
  text-align: center;
  font-weight: 500;
}

.rightCard h1 {
  margin-top: 50px;
  text-align: center;
  font-weight: 500;
}

.cardContent {
  width: 75%;
  margin: auto;
  line-height: 40px;
  font-size: 18px;
}

.cardImage {
  display: block;
  margin: auto;
}

.guidedFlowBtn {
  display: block;
  background-color: #498ad2;
  color: white;
  font-size: 20px;
  margin: 25px auto;
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 20px 50px;
  border: 1px solid gray;
  border-radius: 10px;
  transition: background-color 0.15s linear;
}

.guidedFlowBtn:hover {
  background-color: #3b6ea9;
}

/* GLOBAL CTA BUTTON CSS */
.ctaBtn {
  position: fixed;
  right: 40px;
  bottom: 30px;
  cursor: pointer;
  background-color: #e79cc0;
  width: 250px;
  height: 40px;
  color: black;
  border: 1px solid #707070;
  border-radius: 19px;
  font-size: 18px;
}

/* ABOUT PAGE CSS */

.aboutSection {
  background-color: white;
  border: 1px solid gray;
  box-shadow: 2px 2px 2px lightgray;
  border-radius: 20px;
  width: 90%;
  height: auto;
  margin: 60px auto 0px auto;
  text-align: left;
}

.aboutSection > h1,
.aboutSection > p {
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
  margin-right: 50px;
  font-weight: 500;
}

/* ORDER PAGE CSS */

.orderSection {
  background-color: white;
  border: 1px solid gray;
  box-shadow: 2px 2px 2px lightgray;
  border-radius: 20px;
  width: 80%;
  height: 70vh;
  margin: 60px auto 0px auto;
  text-align: left;
  padding-bottom: 50px;
}

.orderHeader > h1 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
  font-weight: 500;
}

.orderFilterBtn {
  float: right;
  margin-top: 30px;
  margin-right: 40px;
  width: 100px;
  height: 40px;
  color: black;
  background-color: white;
  border: 1px solid #707070;
  border-radius: 19px;
  font-size: 18px;
  cursor: pointer;
}

table {
  display: grid;
  padding-left: 100px;
  padding-right: 100px;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns:
    minmax(150px, 1fr)
    minmax(150px, 1.5fr)
    minmax(150px, 1fr)
    minmax(150px, 1.5fr)
    minmax(150px, 1.5fr)
    minmax(100px, 1.5fr);
}

thead,
tbody,
tr {
  display: contents;
}

th,
td {
  padding: 15px;
}

th {
  position: sticky;
  top: 0;
  text-align: left;
  font-weight: normal;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #808080;
  border-top: 1px solid lightgray;
}

.detailsBtn {
  border: none;
  background-color: white;
  color: rgba(73, 138, 210, 1);
  cursor: pointer;
  font-size: 14px;
}

.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  background-color: white;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #498ad2;
  color: white;
  border: 1px solid #498ad2;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
